
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #f4f4f4;
}


/* Confirmation box styling */
.container {
    margin-top: 30px;
}

h2 {
    color: #5cb85c;
}

.confirmation-box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 620px;
    margin: 0 auto;
}

.confirmation-box p {
    font-size: 20px;
    margin: 10px 0;
}

.confirmation-box img {
    display: block;
    margin: 20px auto; 
    width: 200px;
    height: 250px;
    border-radius: 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


h2 {
    text-align: center;
    color: #ff0000;
}
/* Error message styling */
.error-message {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}
